In [242]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.metrics import mean_squared_error

In [243]:
train = pd.read_csv('../datasets/ames1_clean_dummy.csv', index_col = 0)

In [244]:
test = pd.read_csv('../datasets/ames1_clean_test_dummy.csv', index_col = 0)

In [245]:
train.head()

,id,ms_subclass,lot_frontage,lot_area,overall_qual,overall_cond,year_built,year_remod/add,mas_vnr_area,exter_qual,...,paved_drive_Y,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_WD,saleprice
0,109,60,69.0552,13517,6,8,1976,2005,289.0,4,...,1,0,0,0,0,0,0,0,1,130500
1,544,60,43.0000,11492,7,5,1996,1997,132.0,4,...,1,0,0,0,0,0,0,0,1,220000
2,153,20,68.0000,7922,5,7,1953,2007,0.0,3,...,1,0,0,0,0,0,0,0,1,109000
3,318,60,73.0000,9802,5,5,2006,2007,0.0,3,...,1,0,0,0,0,0,0,0,1,174000
4,255,50,82.0000,14235,6,8,1900,1993,0.0,3,...,0,0,0,0,0,0,0,0,1,138500

In [246]:
test.head()

,id,ms_subclass,lot_frontage,lot_area,overall_qual,overall_cond,year_built,year_remod/add,mas_vnr_area,exter_qual,...,paved_drive_P,paved_drive_Y,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_WD
0,2658,190,69.000000,9142,6,8,1910,1950,0.0,3,...,0,1,0,0,0,0,0,0,0,1
1,2718,90,69.545961,9662,5,4,1977,1977,0.0,3,...,0,1,0,0,0,0,0,0,0,1
2,2414,60,58.000000,17104,7,5,2006,2006,0.0,4,...,0,1,0,0,0,0,0,1,0,0
3,1989,30,60.000000,8520,5,6,1923,2006,0.0,4,...,0,0,0,0,0,0,0,0,0,1
4,625,20,69.545961,9500,6,5,1963,1963,247.0,3,...,0,1,0,0,0,0,0,0,0,1

Create X and y

In [247]:
X = train.drop('saleprice', axis = 1)
y = train['saleprice']

In [261]:
X.shape

(2051, 130)

In [262]:
y.shape

(2051,)

In [248]:
# Create train/test splits
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size=.7,
    random_state=42
)

In [249]:
# Scale our data
# Relabeling scaled data as "Z" is common. 
sc = StandardScaler()
Z_train = sc.fit_transform(X_train)
Z_test = sc.transform(X_test)

In [250]:
#instantiate
ols = LinearRegression()
ols.fit(Z_train, y_train)

LinearRegression()

Linear Regression model appears to be overfit. 
Perfect score on training and bad score on test

In [251]:
print(f'train: {ols.score(Z_train, y_train)}')
print(f'test: {ols.score(Z_test, y_test)}')

train: 0.8941206193612953
test: -1.2370910265029508e+21

In [252]:
# Instantiate
ridge_model = Ridge(alpha = 10)

# Fit
ridge_model.fit(Z_train, y_train)

# Evaluate model using R2
print(f'train: {ridge_model.score(Z_train, y_train)}')
print(f'test: {ridge_model.score(Z_test, y_test)}')

train: 0.892831707315184
test: 0.8356402716711684

In [253]:
test_sub = ridge_model.predict(test)

In [254]:
test['saleprice'] = test_sub

In [255]:
submission = test[['id', 'saleprice']]

In [256]:
submission.shape

(878, 2)

In [257]:
test.shape

(878, 131)

In [258]:
submission

       id     saleprice
0    2658  2.388325e+07
1    2718  3.248544e+07
2    2414  1.296298e+07
3    1989  1.560000e+07
4     625  2.423162e+07
..    ...           ...
873  1662  2.441153e+07
874  1234  2.540288e+07
875  1373  1.721602e+07
876  1672  1.307930e+07
877  1939  1.462881e+07

[878 rows x 2 columns]

In [259]:
submission.to_csv('../datasets/ames1_sub1.csv', index = False)

In [260]:
ols.predict(test)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 130 is different from 131)